extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/components.css')
  link(rel='stylesheet', href='/stylesheets/framework.css')
block main
  include include/sidebar.jade
  .content.docs.flex-1
    div
      - var isDynamic = !components[current]['static']
      .demo(class={dynamic: isDynamic})!= source.html
      .tab.code
        .tab-nav
          button.active JavaScript
          button HTML
          - if (isDynamic)
            button JSON
        .tab-content
          pre.active!= code.js
          pre!= code.html
          - if (isDynamic)
            pre!= code.json
block foot
  script(src='/trunk/lib/require.min.js')
  script(src='/trunk/require.config.js')
  script!= source.js

