extends ../layout
block main
  .sidebar
    ul#apiList
      each module in doc
        li
          - var moduleId = module.name
          a(href='#' + moduleId)= module.name
          ul
            each prop in module.props
              li
                a(href='#' + moduleId + '-' + prop.name) - #{prop.name}
  .content.flex-1
    mixin doc(host)
      if host.type
        p
          code= host.type
      if host.param || host.return
        table
          if host.param
            each param in host.param
              tr
                td.name= param.name.join(' | ')
                td
                  code.type= param.type.join(' | ')
                td.desc= param.desc
                td
                  em.optional= param.optional && 'optional' || ''
          if host.return
            tr
              td 
                b return 
              td
                code.type= host.return.type
              td.desc= host.return.desc
      if host.desc
        each desc in host.desc
          if typeof desc === 'string'
            p= desc
          else
            pre!= desc.code
    each module in doc
      - var moduleId = module.name
      section(id=moduleId)
        h1= module.fullName || module.name
        +doc(module)
        each prop in module.props
          h2(id=moduleId + '-' + prop.name)= prop.fullName || prop.name
          +doc(prop)